@import "~bootstrap/scss/bootstrap.scss";

.navbar-brand img {
  display: inline-block;
  margin-right: 2px;
  margin-top: 5px;
  vertical-align: top;
}

.login {
  max-width: 400px;
}

.shifts-select-table {
  label {
    display: block;
    text-align: center;
  }
}
